/* You can add global styles to this file, and also import other style files */
body{    
    background: linear-gradient(pink,skyblue);
}

body:hover{
    background-color: pink;
    background-image: linear-gradient(to right, pink,skyblue);
}